:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*recaptcha*/
.grecaptcha-badge {
	width: 70px !important;
	overflow: hidden !important;
	transition: all 0.3s ease !important;
	left: 4px !important;
  z-index: 1000;
  display:none;
}

.grecaptcha-badge:hover {
	width: 256px !important;
}